<h1>Python</h1>

<p>						Python

    Python е език за програмиране на високо ниво. Високо ниво означава че е по близък до човешкия език.  Python се използва в голяма част от научните среди.
    Също като R се използва в биоинформатиката. Питон е много по-бърз и гъвкав от R. Също така Python се използва в много други среди като например уеб разработка и изкуствен интелект.  Но ще разгледаме само работата му със статистика и използването му в биоинформатика. Biopython  е една от най-известните библиотеки за извличане на данни и визиолизиране.Програмирането на Python се използва в анализа на генома. Използва се за подравняване на ДНК и протеинови последователности, идентифициране на генетични вариации и извършване на анализ на генната експресия. 
    
    Един от най – известните модули за Питон в областта на математическата и статистическа обработка на данни е NumPy, създаден през 2006 г. Библиотеката предоставя различни алгоритми за работа с вектори, матрици,разнообразни математически функции под Питон които са взаимствани от R програмния език.</p>